long=true
metrics-registry=https://registry.npmjs.org/
scope=
user-agent=npm/6.1.0 node/v10.4.1 linux x64
allow-same-version=false
always-auth=false
audit=true
auth-type=legacy
bin-links=true
cache=/root/.npm
cache-lock-retries=10
cache-lock-stale=60000
cache-lock-wait=10000
cache-min=10
cafile=/etc/fonts/undefined
color=true
commit-hooks=true
description=true
dev=false
dry-run=false
editor=/usr/bin/nvim
engine-strict=false
fetch-retries=2
fetch-retry-factor=10
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=10000
force=false
git=git
git-tag-version=true
global=true
global-style=false
globalconfig=/usr/etc/npmrc
globalignorefile=/usr/etc/npmignore
group=0
ham-it-up=false
heading=npm
if-present=false
ignore-prepublish=false
ignore-scripts=false
init-author-email=
init-author-name=
init-author-url=
init-license=ISC
init-module=/root/.npm-init.js
init-version=1.0.0
json=false
legacy-bundling=false
link=false
local-address=undefined
logs-max=10
maxsockets=50
message=%s
(overridden)=true
node-version=10.4.1
offline=false
optional=true
package-lock=true
package-lock-only=false
parseable=false
prefer-offline=false
prefer-online=false
prefix=/usr
production=false
progress=true
read-only=false
rebuild-bundle=true
registry=https://registry.npmjs.org/
rollback=true
save=true
save-bundle=false
save-dev=false
save-exact=false
save-optional=false
save-prefix=^
save-prod=false
scripts-prepend-node-path=warn-only
searchlimit=20
searchopts=
searchstaleness=900
send-metrics=false
shell=/bin/bash
shrinkwrap=true
sign-git-tag=false
sso-poll-frequency=500
sso-type=oauth
strict-ssl=true
tag=latest
tag-version-prefix=v
timing=false
tmp=/tmp
umask=18
unicode=true
unsafe-perm=true
usage=false
user=0
userconfig=/root/.npmrc
version=false
versions=false
viewer=man
//registry.npmjs.org/:_authToken=e51cc1a2-bd7c-46df-a958-d7b701707537
